.single-file-main-container {
    padding: 100px 0 50px ;

    .loading-main-container {
        background-color: rgba(128, 128, 128, 0.541);
        z-index: 999;

        .loading {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            
            &::after {
                display: none;
            }
        }
    }


    .data-container {
        .author {
            text-transform: capitalize;
        }

        .data-title {
            text-align: center;
            text-transform: capitalize;
        }
    }

    .upload-comment-main-container {
        border-top: solid 1px $purple;
        margin-top: 20px;

        input {
            margin-right: 10px;

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
                margin-right: 0;
            }
        }

        .white-btn {
            margin-top: 0;
        }
    }

    .comment-section-heading {
        margin-top: 10px;
        font-size: 20px;
    }

   .comment-section {
        margin-top: 20px;
        padding-top: 10px;

        .comment {
            width: 100%;
            margin-bottom: 10px;
            border-bottom: solid 1px $purple;

            .coment-date {
                font-size: 16px;
                margin: 10px 0;
            }

            .author {
                text-transform: capitalize;
                margin: 10px 0;
                font-size: 16px;
                font-weight: bold;
            }

            .comment-content {
                font-size: 16px;
                margin: 10px 0;
            }
        }
   }
}

.blog-container {
    gap: 20px;
    flex-wrap: wrap;
}

.browse-main-container {
    margin-top: 100px;
}

.file-active {
    .Mathematics-Surveying-and-Transportation-Engineering {
        &.document {
            display: block;
        }
    
        &.question {
            display: none !important;
        }
    }

    .Hydraulics-and-Geotechnical-Engineering {
        &.document {
            display: block;
        }
    
        &.question {
            display: none !important;
        }
    }

    .Structural-Engineering-and-Construction {
        &.document {
            display: block;
        }
    
        &.question {
            display: none !important;
        }
    }
}

.question-active {
    .Mathematics-Surveying-and-Transportation-Engineering {
        &.document {
            display: none !important;
        }
    
        &.question {
            display: block;
        }
    }
    
    .Hydraulics-and-Geotechnical-Engineering {
        &.document {
            display: none !important;
        }
    
        &.question {
            display: block;
        }
    }

    .Structural-Engineering-and-Construction {
        &.document {
            display: none !important;
        }
    
        &.question {
            display: block;
        }
    }
}
