.single-file-main-container {
    padding: 100px 0 50px  ;
    background-color: $yellow-main;

    .data-container {
        .author {
            width: fit-content;
            text-transform: capitalize;
            letter-spacing: 1.2px;
            font-weight: bold;
            font-family: 'Poppins';
            background-color: $charcoal;
            padding: 10px;
            font-size: 20px;
            color: $white;
            border-radius: 10px;
        }

        .desc {
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            font-size: 36px;
            letter-spacing: 1.2px;
            font-weight: bold;
            color: $charcoal;
            margin-bottom: 0;
            font-family: 'Bebas Neue';
        }
    }

    .comment-section {
        margin-top: 50px;
        padding-top: 10px;
        border-top: solid 1px $black;

        .heading {
            width: fit-content;
            padding: 10px;
            border-radius: 10px;
            background-color: $charcoal;
            color: $white;
            font-family: 'Poppins';
            font-weight: bold;
            letter-spacing: 2px;
        }

        .comment-list {
            padding: 10px 0 50px;
            gap: 20px;
            flex-wrap: wrap;

            .card {
                padding: 10px;
                min-width: 200px;
                cursor: pointer;

                .coment-date {
                    background-color: $yellow-secondary;
                    border-radius: 10px;
                    width: fit-content;
                    color: $charcoal;
                    font-family: 'Poppins';
                    font-weight: bold;
                    padding: 5px;
                }

                .comment-details {
                    .author {
                        font-weight: bold;
                        text-transform: capitalize;
                        font-family: 'Poppins';
                        padding-bottom: 5px;
                        border-bottom: 3px solid $charcoal;
                        font-size: 20px;
                        letter-spacing: 1.5px;
                    }

                    .comment-content {
                        margin-bottom: 0;
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
}