.upload-main-container {
    padding-top: 100px;

    .loading-main-container {
        background-color: rgba(128, 128, 128, 0.541);
        z-index: 999;

        .loading {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            
            &::after {
                display: none;
            }
        }
    }

    .upload-container {
        margin: auto;

        .input-wrapper {
            align-items: center;

            .file-input-container {
                .file-type {
                    height: fit-content;
                    padding: 5px 10px;
                    margin-bottom: 0;
                    cursor: pointer;
                    text-transform: capitalize;
                    border-radius: 5px !important;
                    margin-top: 0;
                    font-size: 1.2rem;
                    width: 100%;
                    font-family: 'Poppins';
                    font-weight: 300;
                    max-width: 100%;
                    text-align: center;
                }

                .file-input-btn-wrapper {
                    position: relative;

                    .file-input {
                        cursor: pointer;
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
    
                    .file-overlay {
                        height: 94px;
                        width: 100%;
                        border-radius: 5px;
                        background: transparent;
                        font-family: 'Poppins';
                        font-weight: 300;
                        font-size: 20px;
                        color: $purple;

                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .submit-data {
            font-size: 1.2rem;
            width: 100%;
            font-family: 'Poppins';
            font-weight: 300;
            max-width: 100%;
            text-align: center;
        }
    }
}

.cat-one {
    .Mathematics-Surveying-and-Transportation-Engineering {
        &.document {
            display: block;
        }

        &.question {
            display: block;
        }
    }

    .Hydraulics-and-Geotechnical-Engineering {
        &.document {
            display: none;
        }

        &.question {
            display: none;
        }
    }

    .Structural-Engineering-and-Construction {
        display: none;
    }
}

.cat-two {
    .Hydraulics-and-Geotechnical-Engineering {
        &.document {
            display: block;
        }

        &.question {
            display: block;
        }
    }

    .Mathematics-Surveying-and-Transportation-Engineering {
        display: none;

        &.document {
            display: none;
        }

        &.question {
            display: none;
        }
    }

    .Structural-Engineering-and-Construction {
        &.document {
            display: none;
        }

        &.question {
            display: none;
        }
    }
}

.cat-three {
    .Structural-Engineering-and-Construction {
        &.document {
            display: block;
        }

        &.question {
            display: block;
        }
    }

    .Mathematics-Surveying-and-Transportation-Engineering {
        &.document {
            display: none;
        }

        &.question {
            display: none;
        }
    }

    .Hydraulics-and-Geotechnical-Engineering {
        &.document {
            display: none;
        }

        &.question {
            display: none;
        }
    }
}


.refinements-container {
    .section-title {
        font-family: 'Poppins';
        color: $purple;
        font-size: 17px;
        font-weight: bold;
        text-transform: capitalize;
        
        &:last-child {
            margin-top: 10px;
        }
    }

    button {
        background-color: transparent;
        font-family: 'Poppins';
        border: none;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-size: 16px;
        text-align: left;
        border-bottom: solid 1px $gray;

        &:hover {
            font-weight: bold;
        }
    }
}

.upload-category-main-container {
    padding-top: 100px;

    .upload-category-container {
        .card {
            box-shadow: rgba(23, 31, 114, 0.11) 0px 16px 30px;
            position: relative;
            transition: all .2s ease-in-out;

            img {
                height: 150px;
            }

            .card-body {
                height: 235px;

                .card-title {
                    font-size: 1.2rem;
                    color: #18216d;
                    font-family: 'Poppins';
                    font-weight: 500;
                    margin-bottom: 1rem;
                    text-decoration: none;
                    text-transform: capitalize;
                }

                .card-text {
                    font-size: 1.2rem;
                    color: #18216d;
                    font-family: 'Poppins';
                    font-weight: 300;
                    margin-bottom: 1rem;
                    text-decoration: none;
                    text-transform: capitalize;
                }

                .purple-btn {
                    display: block;
                    width: fit-content;
                }
            }
        }
    }
}