html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0; 
    background-color: $light-orange;
}

.col-lg-11 {
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.container {
    @include media-breakpoint-down(md) {
         padding: 0 20px;
    }
}

.dummy {
    width: 100%;
    height: 100vh;
}

//=============== Font Awesoms ===============//

i {
    background: transparent;
}

//=============== Buttons ===============//

// .btn-primary {
//     text-decoration: none;
//     height: 100%;
//     background-color: $orange-main;
//     color: $white;
//     border: $orange-main solid 0.5px;
//     height: fit-content;

//     &:hover {
//         background-color: $orange;
//         border: $orange solid 0.5px;
//     }
// }

.slick-dots li button:before {
    top: -30px;
    font-size: 11px;
    color: $orange-main !important;
}

//=============== Dividers ===============//
.divider-one {
    height: 100px;
    clip-path: polygon(100% 100%, 81% 71%, 73% 93%, 63% 64%, 54% 100%, 46% 63%, 37% 87%, 30% 62%, 23% 99%, 14% 64%, 0% 100%, 0% 0%, 100% 0%);
    width: 100%;

    &.yellow-main {
        background-color: $yellow-main;
    }

    &.yellow-secondary {
        background-color: $yellow-secondary;
    }
}

//=============== Cards ===============//
.blog-cards {
    width: 100%;
    height: 350px;
    border: 0;
    position: relative;
    background-color: transparent;
    padding: 20px;
    transition: all 0.1s;
    border-bottom: solid 1px #818181;
    border-radius: 0;

    &:hover {
        box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
    }

    .card-header {
        border-radius: 17px;
        background-color: transparent;
        margin-bottom: 20px;
        border: none;

        .author-name {
            margin-right: 5px;
            margin-bottom: 0;
            color: $black;
            font-weight: bold;
            font-family: 'Poppins';
            letter-spacing: 2px;
            text-transform: capitalize;
        }

        .date-created {
            margin-bottom: 0;
            color: $black;
            font-weight: bold;
            font-family: 'Poppins';
            letter-spacing: 2px;
        }
    }

    .card-sub-header {
        margin-bottom: 10px;
        padding-left: 10px;

        p {
            margin-bottom: 5px;
            font-family: 'Bebas Neue', cursive;
            color: $black;
            text-overflow: ellipsis;
            width: 200px;
            height: 26px;
            text-transform: capitalize;
            margin-bottom: 0;
        }

        .data-category {
            width: 100%;
        }
    }

    .card-body {
        background-color: transparent;
        border-radius: 15px;
        margin-bottom: 14px;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;

        .card-title {
            margin-bottom: 5px;
            overflow: hidden;
            font-family: 'Bebas Neue', cursive;
            color: $black;
            text-overflow: ellipsis;
            width: 200px;
            height: 26px;
            text-transform: capitalize;
        }
        
        .card-text {
            font-size: 18px;
            font-family: 'Poppins';
            color: $black;
        }
    }

    .card-footer {
        border: 0;
        border-radius: 17px;
        height: 43px;
        background-color: transparent;
        width: 220px;

        .btn {
            font-size: 12px;
            color: $white;
            border-radius: 5px;
            padding: 5px 10px;
            text-transform: uppercase;
            font-family: 'Poppins';
            font-weight: bold;
            border: 0;

            &.report {
                background-color: #C63333;
            }

            &.like {
                background-color: #337FC6;
            }
            
            &.view {
                background-color: #51983F;
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin: auto;
        margin-bottom: 10px;
    }

    .card-body {
        .card-title {
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            color: $charcoal;
            font-weight: bold;
        }
    }
}

.done-loading-data {
    .loading-main-container {
        display: none;
        opacity: 0;
    }
}

.loading-main-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    transition: all .5s ease-in;

    .loading {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: solid 5px $yellow-main;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 10px;
            width: 10px;
            transform: rotate(45deg);
            background-color: $light-orange;
        }
    }
}

.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out infinite;
    animation: rotate-center 0.6s ease-in-out infinite;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

//============= Height ===================//
.h-100 {
    height: 100%;
    min-height: 100vh;
}