// .onTop {
//     padding-top: 20px;

//     @include media-breakpoint-down(md) {
//         padding-top: 10px;
//     }
// }

.fixedMenu {
    padding-top: 0;
    background: rgb(241, 242, 243);

    .nav-links-container {
        transition: all .2s ease-in-out;
        // width: 60% !important;

        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }
}

.sticky {
    width: 100%;
    position: fixed;
    transition: all 0.2s;
    z-index: 999;
    transition: all .2s ease-in-out;
    top: 0;

    .navbar {
        background-color: transparent !important;
    
        @include media-breakpoint-down(md) {
            justify-content: space-between;
            width: 100%;
            padding: 5px 0;
        }
    
        .navbar-brand {
            color: $charcoal;
            @include bebas;
            letter-spacing: 2px;
            font-weight: bolder;
            font-size: 3rem;
            margin-right: 30px;
            line-height: 41px;
    
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }
    
        .menu-btn {
            display: none;
            font-size: 30px;
            cursor: pointer;
    
            @include media-breakpoint-down(md) {
                display: block;
    
                &.fa-xmark {
                    text-align: right;
                    font-size: 30px;
                }
            }
        }
    
        .nav-links-container {
            width: 50%;
            transition: all .2s ease-in;

            @include media-breakpoint-down(md) {
                &.active {
                    position: fixed;
                    left: 0;
                    height: 100vh;
                    background: #f1f2f3f2;
                    width: 100vw !important;
                    top: 0;
                    display: flex !important;
                }

                display: none !important;
                left: -150vw;
                flex-direction: column;
                padding: 30px;
            }

            .menu-mobile-container {
                display: flex;
                width: 100%;
                justify-content: space-between;

                @include media-breakpoint-down(md) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                }
            }

            .link {
                font-size: 1.2rem;
                color: $purple;
                font-family: 'Poppins';
                font-weight: 300;
                margin: 0.2rem 0.5rem;
                text-decoration: none;
                text-transform: capitalize;
                display: block;

                &:hover {
                    color: rgb(255, 130, 92);
                    text-underline-position: under;
                    text-decoration: underline wavy rgb(255, 130, 92);
                }
            }

            .purple-btn {
                color: $white;
                padding: 13px 20px;
            }
        }
    }
}