.homepage-main-container {
    .homepage-banner {
        margin-bottom: 8rem;
    
        @include media-breakpoint-down(md) {
            padding-top: 50px;
            margin-bottom: 5rem;
        }
    
        .homepage-heading {
            color: $purple;
            font-family: 'Poppins';
            font-size: 56px;
            line-height: 1.18;
            font-weight: 500;
            margin-bottom: 28px;
    
            @include media-breakpoint-down(lg) {
                font-size: 47px;
            }
        }
    
        .sub-heading {
            color: $purple;
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 21px;
            margin: 1.5rem 0px 2rem;
            line-height: 1.41;
        }
    
        .cta-container {
            @include media-breakpoint-down(md) {
                margin-bottom: 4rem;
    
                button {
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }

            .purple-btn {
                margin-right: 20px;
            }
        }
    
        .img-banner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .home-second-section {
        margin-bottom: 8rem;

        @include media-breakpoint-down(sm) {
            margin-bottom:  5rem;
        }

        .second-section-heading {
            @include media-breakpoint-down(md) {
                font-size: 32px;
            }
        }
    }

    .home-third-section {
        .about {
            margin-bottom: 8rem;

            @include media-breakpoint-down(md) {
                margin-bottom: 5rem;
            }

            .purple-heading  {
                @include media-breakpoint-down(md) {
                    margin-bottom: 0;
                }
            }

            .section-img {
                width: 100%;
                @include media-breakpoint-down(md) {
                    margin-bottom: 0;
                }
            }
        }
    }
}