//============ COLORS ============//
$black: #000000;
$white: #FFFFFF;
$dark-purple: #0D095C;
$orange-main: #FF9643;
$light-orange: #fffcf7;
$orange: #F5801C;
$gray: #C4C4C4;
$bg-color:  #F7F7F7;
$yellow-main: #ffee32;
$yellow-secondary: #ffd100;
$dark: #202020;
$charcoal: #333533;
$ash: #d6d6d6;
$card-yellow: #F3E778;
$gray: #818181;

//============ FONTS ============//
@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

@mixin poppins {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

@mixin bebas {
  font-family: 'Bebas Neue', cursive;
}


//============ BREAKPOINTS ============//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);